<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div v-bind:style="monsterHealthBarStyle" class="healthbar__value"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div v-bind:style="playerHealthBarStyle" class="healthbar__value"></div>
        </div>
      </section>
      <section class="container" v-if="winner">
        <h2>Game Over!</h2>
        <div>
          <h3 v-if="winner === 'monster'">You lost!</h3>
          <h3 v-else-if="winner === 'player'">You won!</h3>
          <h3 v-else>It's a draw!</h3>
        </div>
        <div>
          <button v-on:click="startNewGame">New Game</button>
        </div>
      </section>
      <section id="controls" v-else>
        <button v-on:click="attackMonster">ATTACK</button>
        <button v-bind:disabled="specialAttackDisabled" v-on:click="specialAttackMonster">SPECIAL ATTACK</button>
        <button v-on:click="healPlayer">HEAL</button>
        <button v-on:click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li v-for="message of logMessages">
            <span v-bind:style="setLogMessageStyle(message)">{{ message.actionBy }}  {{ message.actionType }} {{ message.actionValue }}</span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
